@using Xant.MVC.Models.ViewModels
@using Xant.MVC.Models
@model Xant.MVC.Models.ViewModels.PostsViewModel

@{
    ViewData["Title"] = "نمونه کارها";
}

@section Meta
{
    <Seo-Meta title="نمونه کارها و خدمات رائه شده از تیم برنامه نویسی ژانت"
              key-words="طراحی وبسایت های شرکتی، طراحی وبسایت های فروشگاهی، طراحی وبسایت های رزرو هتل، طراحی وبسایت های رزرو غذا، طراحی سیستم های مدیریتی، طراحی نرم افزارهای مدیریتی، طراحی بهترین سیستم های مدیریتی"
              description="تیم طراحی وبسایت و طراحی نرم افزار ژانت، دارای بهترین نمونه کارها و کیفیت کار است. در مدت زمان فعالیت طولانی این تیم، نرم افزارها و وبسایت گوناگون و متفاوتی طراحی شده اند و با بروز ترین متدها روز دنیا توسعه یافته اند." />
}

@await Html.PartialAsync("PartialViews/_BreadcrumbPartialView")

<!-- ***** Portfolio Area Start ***** -->
<section id="portfolio" class="portfolio-area overflow-hidden ptb_100">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-12">
                @await Component.InvokeAsync("PortfolioMenu", new PortfolioMenuViewModel()
                {
                    PostCategoryId = Model.PostCategoryId
                })
            </div>
        </div>
        <!-- Portfolio Items -->
        <div class="row items portfolio-items">

            @foreach (var portfolio in Model.PostViewModels)
            {
                <div class="col-12 col-sm-6 col-lg-4 portfolio-item">
                    @await Html.PartialAsync("PartialViews/_PortfolioCardPartialView", portfolio)
                </div>
            }

        </div>
        <div class="row mt-3">
            <div class="col-12">
                @await Html.PartialAsync("PartialViews/_PaginationPartialView", new Pagination()
                {
                    Pager = Model.Pager,
                    Params = new Dictionary<string, string>()
                    {
                        {nameof(PostsViewModel.SearchString), Model.SearchString},
                        {nameof(PostsViewModel.PostCategoryId), Model.PostCategoryId.ToString()},
                        {nameof(PostsViewModel.PostSortFilterType), Model.PostSortFilterType.ToString()},
                    }
                })
            </div>
        </div>
    </div>
</section>
<!-- ***** Portfolio Area End ***** -->

@await Component.InvokeAsync("Contact")

@await Component.InvokeAsync("CallToAction")
