<!-- ***** Service Area End ***** -->
<section id="service" class="section service-area dark-bg ptb_150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2 class="text-white">ما بهترین خدمات دیجیتالی را ارائه میدیم </h2>
                    <p class="text-white-50 d-none d-sm-block mt-4">طراحی انواع وبسایت ها و اپلیکیشن های حرفه ای تنها گوشه ای از خدمات ژانت است</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Service -->
                <div class="single-service media p-3">
                    <span class="flaticon-rocket-launch color-1 icon-bg-1"></span>
                    <!-- Service Text -->
                    <div class="media-body mr-4">
                        <h3 class="text-white">سئو و بهینه سازی</h3>
                        <p class="text-white-50 mt-2 mb-3">کسب رتبه های برتر گوگل ، افزایش بازدید و فروش آنلاین</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Service -->
                <div class="single-service media p-3">
                    <span class="flaticon-monitoring color-2 icon-bg-2"></span>
                    <!-- Service Text -->
                    <div class="media-body mr-4">
                        <h3 class="text-white">طراحی وبسایت</h3>
                        <p class="text-white-50 mt-2 mb-3">طراحی چشم نواز ، کاربرپسند ، واکنش گرا و حرفه ای انواع وبسایت</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Service -->
                <div class="single-service media p-3">
                    <span class="flaticon-web color-3 icon-bg-3"></span>
                    <!-- Service Text -->
                    <div class="media-body mr-4">
                        <h3 class="text-white">توسعه نرم افزار</h3>
                        <p class="text-white-50 mt-2 mb-3">توسعه و راه اندازی نرم افزارهای اداری و اتوماسیون برای دسکتاپ</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Service -->
                <div class="single-service media p-3">
                    <span class="flaticon-smartphone color-4 icon-bg-4"></span>
                    <!-- Service Text -->
                    <div class="media-body mr-4">
                        <h3 class="text-white">طراحی اپلیکیشن</h3>
                        <p class="text-white-50 mt-2 mb-3">طراحی زیبا و کاربر پسند انواع اپلیکیشن های اندروید و آی او اس</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Service -->
                <div class="single-service media p-3">
                    <span class="flaticon-email color-5 icon-bg-5"></span>
                    <!-- Service Text -->
                    <div class="media-body mr-4">
                        <h3 class="text-white">دیجیتال مارکتینگ</h3>
                        <p class="text-white-50 mt-2 mb-3">جذب مشتری و مخاطب هایی که به خدمات شما اهمیت می دهند</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Single Service -->
                <div class="single-service media p-3">
                    <span class="flaticon-affiliate color-6 icon-bg-6"></span>
                    <!-- Service Text -->
                    <div class="media-body mr-4">
                        <h3 class="text-white">توسعه هوشمند</h3>
                        <p class="text-white-50 mt-2 mb-3">توسعه نرم افزاهای مبتنی بر هوش مصنوعی و تکنولوژی های روز دنیا</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Service Area End ***** -->
