@model Xant.MVC.Models.ViewModels.PricePlansViewModel
<!-- ***** Price Plan Area Start ***** -->
<section id="pricing" class="section price-plan-area dark-bg overflow-hidden ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2 class="text-white">برنامه های قیمت ما</h2>
                    <p class="text-white-50 d-none d-sm-block mt-4">با تیم ژانت نگران هزینه های سرسام آور نباش !</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="row price-plan-wrapper">
                    <div class="col-12 col-md-6">
                        <!-- Single Price Plan -->
                        <div class="single-price-plan color-1 bg-hover hover-top dark-bg dark-shadow text-center p-5">
                            <!-- Plan Title -->
                            <div class="plan-title mb-2 mb-sm-3">
                                <h3 class="text-white mb-2">پایه</h3>
                                <p class="text-white-50">طراحی وبسایت اقتصادی</p>
                            </div>
                            <!-- Plan Price -->
                            <div class="plan-price pb-2 pb-sm-3">
                                <span class="h1 fw-7">4,000,000</span>
                                <span class="color-primary fw-7">تومان</span>
                                <sub class="validity text-muted fw-5">یکبار پرداخت</sub>
                            </div>
                            <!-- Plan Description -->
                            <div class="plan-description">
                                <ul class="plan-features">
                                    <li class="text-white py-2">دامنه و هاست رایگان یکساله</li>
                                    <li class="text-white py-2">مناسب برای شروع کسب و کار</li>
                                    <li class="py-2 text-muted">پشتیبانی رایگان حداکثر 3 ماه</li>
                                    <li class="py-2 text-muted">پشتیبانی فنی 24/7</li>
                                </ul>
                            </div>
                            <!-- Plan Button -->
                            <div class="plan-button">
                                <a href="tel:@Model.Phone1" class="btn btn-bordered-white mt-3">تماس بگیرید</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0">
                        <!-- Single Price Plan -->
                        <div class="single-price-plan color-2 bg-hover active hover-top dark-bg dark-shadow text-center p-5">
                            <!-- Plan Title -->
                            <div class="plan-title mb-2 mb-sm-3">
                                <h3 class="text-white mb-2">حرفه ای <sup><span class="badge badge-pill badge-warning mr-2">٪20 تخفیف</span></sup></h3>
                                <p class="text-white-50">طراحی وبسایت حرفه ای</p>
                            </div>
                            <!-- Plan Price -->
                            <div class="plan-price pb-2 pb-sm-3">
                                <span class="h1 fw-7">6,000,000</span>
                                <span class="color-primary fw-7">تومان</span>
                                <sub class="validity text-muted fw-5">برای حرفه ای ها</sub>
                            </div>
                            <!-- Plan Description -->
                            <div class="plan-description">
                                <ul class="plan-features">
                                    <li class="text-white py-2">دامنه و هاست رایگان یکساله</li>
                                    <li class="text-white py-2">مناسب برای کسب و کارهای حرفه ای</li>
                                    <li class="text-white py-2">افزایش امکانات نامحدود</li>
                                    <li class="text-white py-2">پشتیبانی اختصاصی</li>
                                </ul>
                            </div>
                            <!-- Plan Button -->
                            <div class="plan-button">
                                <a href="tel:@Model.Phone1" class="btn btn-bordered active mt-3">تماس بگیرید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pt-5">
            <p class="pt-4 fw-5">
                مطمئن نیستی چه چیزی را انتخاب کنی؟ <a class="service-btn" href="tel:@Model.Phone1">
                    <strong>با ما تماس بگیر</strong>
                </a>
            </p>
        </div>
    </div>
</section>
<!-- ***** Price Plan Area End ***** -->