@model Xant.MVC.Models.ViewModels.HeaderViewModel
    <!-- ***** Header Start ***** -->
<header id="header">
    <!-- Navbar -->
    <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
        <div class="container header">
            <!-- Navbar Brand-->
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img class="navbar-brand-regular" src="~/img/logo/logo-white.png" alt="brand-logo">
                <img class="navbar-brand-sticky" src="~/img/logo/logo.png" alt="sticky brand-logo">
            </a>
            <div class="ml-auto"></div>
            <!-- Navbar -->
            <ul class="navbar-nav items">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">صفحه اصلی</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Portfolios" asp-action="Index" class="nav-link">نمونه کارها</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Services" asp-action="Index" class="nav-link">خدمات</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Blog" asp-action="Index" class="nav-link">وبلاگ</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="AboutUs" asp-action="Index" class="nav-link">درباره ما</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="ContactUs" asp-action="Index" class="nav-link">تماس با ما</a>
                </li>
            </ul>
            <!-- Navbar Icons -->
            <ul class="navbar-nav icons">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#search">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                @if (!string.IsNullOrWhiteSpace(Model.Telegram))
                {
                    <li class="nav-item social">
                        <a href="@Model.Telegram" class="nav-link">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                    </li>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Instagram))
                {
                    <li class="nav-item social">
                        <a href="@Model.Instagram" class="nav-link">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>

                }
            </ul>

            <!-- Navbar Toggler -->
            <ul class="navbar-nav toggle">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
                        <i class="fas fa-bars toggle-icon m-0"></i>
                    </a>
                </li>
            </ul>

            <!-- Navbar Action Button -->
            <ul class="navbar-nav action">
                @if (!string.IsNullOrWhiteSpace(Model.Phone1))
                {
                    <li class="nav-item mr-3">
                        <a href="tel:@Model.Phone1" class="btn ml-lg-auto btn-bordered-white">
                            <i class="fas fa-phone contact-icon ml-md-2"></i>تماس
                        </a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>
<!-- ***** Header End ***** -->
