@model Xant.MVC.Models.ViewModels.CallToActionViewModel
<!--====== Call To Action Area Start ======-->
<section class="section cta-area bg-overlay ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <!-- Section Heading -->
                <div class="section-heading text-center m-0">
                    <h2 class="text-white">به دنبال بهترین راه حل آژانس دیجیتال و بازاریابی هستی؟</h2>
                    <p class="text-white-50 d-none d-sm-block mt-4">تیم ژانت بهت کمک میکنه تا پر قدرت از همیشه در فضای مجازی خدمات خودت را ارائه بدی و کسب و کار آنلاین خودت را رقم بزنی.</p>
                    <a href="tel:@Model.Phone1" class="btn btn-bordered-white mt-4">
                        <span class="fa fa-phone"></span>
                        همین الان تماس بگیر
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Call To Action Area End ======-->