@{
    Layout = "_LayoutUsers";

    ViewData["Title"] = "فراموشی کلمه عبور";
}


<div class="login-card">
    <div class="login-card-header">
        <p class="h3">فراموشی کلمه عبور</p>
    </div>
    <div class="login-card-body">
        @if (TempData["Error"] != null)
        {
            <div class="form-group">
                @await Html.PartialAsync("PartialViews/_ErrorPartialView", TempData["Error"].ToString())
            </div>
        }
        else
        {
            <p>
                ایمیلی حاوی لینک ریست کلمه ی عبور برای شما ارسال گردید . لطفا ایمیل خود را بررسی کنید.
            </p>
        }

        <a asp-action="Login" class="btn btn-secondary btn-block mt-1">بازگشت</a>
    </div>
</div>